<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applications.app.App">
	
	<insert id="saveDeviceInfo" parameterType="map">
		INSERT INTO DEVICE_INFO (
			DEVICE_ID
			<if test="USER_UID != null">, USER_UID</if>
			<if test="FCM_TOKEN != null">, FCM_TOKEN</if>
			<if test="USER_ID != null">, USER_ID</if>
			<if test="PLATFORM != null">, PLATFORM</if>
		) VALUES (
			#{DEVICE_ID}
			<if test="USER_UID != null">, #{USER_UID}</if>
			<if test="FCM_TOKEN != null">, #{FCM_TOKEN}</if>
			<if test="USER_ID != null">, #{USER_ID}</if>
			<if test="PLATFORM != null">, #{PLATFORM}</if>
		)
	</insert>
	
	<select id="getDeviceInfoByUserUID" parameterType="java.lang.String" resultType="map">
		SELECT * FROM DEVICE_INFO WHERE USER_UID = #{userUID}
	</select>
	
	<select id="getDeviceInfoByUserID" parameterType="java.lang.String" resultType="map">
		SELECT * FROM DEVICE_INFO WHERE USER_UI = #{userID} AND PLATFORM = 'windows'
	</select>
	
	<select id="getDeviceInfoByDeviceId" parameterType="java.lang.String" resultType="map">
		SELECT * FROM DEVICE_INFO WHERE DEVICE_ID = #{deviceId}
	</select>
	
	<update id="updateDeviceInfoByDeviceId" parameterType="map">
		UPDATE DEVICE_INFO
		<set>
			<if test="DEVICE_ID != null">USER_UID = #{USER_UID}</if>
			<if test="FCM_TOKEN != null">, FCM_TOKEN = #{FCM_TOKEN}</if>
			<if test="USER_ID != null">, USER_ID = #{USER_ID}</if>
			<if test="PLATFORM != null">, PLATFORM = #{PLATFORM}</if>
		</set>
		WHERE
			DEVICE_ID = #{DEVICE_ID}
	</update>
	
	<select id="getUserInfoByUserId" parameterType="map" resultType="map">
		SELECT * FROM TSST_USER WHERE USER_ID = #{userId}
	</select>
	
	<select id="getFCMMessageByDeliveryStatus" parameterType="map" resultType="map">
		SELECT * FROM FCM_MESSAGE
		WHERE
			DELIVERY_STATUS = #{DELIVERY_STATUS}
			<if test="TYPE != null">AND TYPE = #{TYPE}</if>
	</select>
	
	<insert id="insertFCMMessage" parameterType="map">
		INSERT INTO FCM_MESSAGE (
			RAW_DATA,
			TYPE,
			SCHEDULE_TIME,
			DELIVERY_STATUS,
			MESSAGE_ID,
			LOG,
			INSERT_DATE,
			LAST_MODIFIED
		) VALUES (
			ID,
			#{RAW_DATA},
			#{TYPE},
			#{SCHEDULE_TIME},
			#{DELIVERY_STATUS},
			#{MESSAGE_ID},
			#{LOG},
			SYSDATE(),
			#{LAST_MODIFIED}
		)
	</insert>
	
	<update id="updateFCMMessageDeliveryStatus" parameterType="map">
		UPDATE FCM_MESSAGE
		SET
			DELIVERY_STATUS = #{DELIVERY_STATUS},
			<if test="MESSAGE_ID != null">MESSAGE_ID = #{MESSAGE_ID},</if>
			LOG = #{LOG}
		WHERE
			ID = #{ID}
	</update>
	
</mapper>