<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<appenders> 
	 
		<Console name="console" target="SYSTEM_OUT">
<!-- 			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
			<PatternLayout pattern="[%logger{36}][%d{yyyy-MM-dd HH:mm:ss.SSS}] %M- %m%n" />
		</Console>
		<Console name="jconsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%style{[%d{yyyy-MM-dd HH:mm:ss.SSS}] (%msg)}{BG_Red,Bright,white} - %style{ %enc{\(%F:%line\)} }{FG_Blue,Bright}%n" />
<!-- 			<PatternLayout pattern="[%logger{36}][%d{yyyy-MM-dd HH:mm:ss.SSS}] %M- %m%n" /> -->
		</Console>
		<Console name="jsconsole" target="SYSTEM_OUT">
<!-- 			<encoder> -->
				<PatternLayout pattern="%style{[%d{yyyy-MM-dd HH:mm:ss.SSS}] - %msg}{Bright,Blue }%n" />
<!-- 			</encoder> -->
<!-- 			<PatternLayout pattern="[%logger{36}][%d{yyyy-MM-dd HH:mm:ss.SSS}] %M- %m%n" /> -->
		</Console>
		<Console name="sqlConsole" target="SYSTEM_OUT">
<!-- 			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p - %m%n%n" />
			<RegexFilter regex=".* SELECT 1 .*" onMatch="DENY" onMismatch="NEUTRAL"/>
		</Console>
		 
<!-- 		실서버 -->
<!-- 		<RollingFile name="dailyRollingFileAppender" --> 
<!-- 		 fileName="mis/logs/mis.log"  -->
<!-- 		 filePattern="mis/logs/mis.%d{yyyy-MM-dd}.log" -->
<!-- 		 append="false"> -->
	 
<!-- 			<PatternLayout pattern="%d %5p [%c] %m%n" /> -->
<!-- 			<Policies> -->
<!-- 				<TimeBasedTriggeringPolicy interval="1" modulate="true"/> -->
<!-- 				<SizeBasedTriggeringPolicy size="20 MB" /> -->
<!-- 			</Policies> -->
<!-- 		</RollingFile> -->

<!-- 개발서버 -->
<!-- 		<RollingFile name="dailyRollingFileAppender" -->
<!-- 		 fileName="c:/temp/logs/mis.log"  -->
<!-- 		 filePattern="c:/temp/logs/mis.%d{yyyy-MM-dd}.log" -->
<!-- 		 append="false"> -->
	 
<!-- 			<PatternLayout pattern="%d %5p [%c] %m%n" /> -->
<!-- 			<Policies> -->
<!-- 				<TimeBasedTriggeringPolicy interval="1" modulate="true"/> -->
<!-- 			</Policies> -->
<!-- 		</RollingFile> -->
	</appenders>
	    
	<loggers>
	
        
<!--         <Logger name="egovframework" level="DEBUG" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--           log SQL with timing information, post execution -->
<!--         <Logger name="jdbc.sqltiming" level="INFO" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="org.springframework" level="INFO" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
        
        
		<!-- TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
	 	<!--  자바에서 발생하는 로그 전체  -->
		<!-- 		<logger name="kr*" level="INFO" additivity="false"> -->
		<!-- 			<appender-ref ref="jconsole"/> -->
		<!--             <appender-ref ref="dailyRollingFileAppender" level="INFO"/> -->
		<!--         </logger> -->
        
        
        <logger name="applications" level="INFO" additivity="false">
			<appender-ref ref="jconsole"/>
        </logger>
        
        <logger name="infrastructure" level="INFO" additivity="false">
			<appender-ref ref="jconsole"/>
        </logger>
        <logger name="module" level="INFO" additivity="false">
			<appender-ref ref="jconsole"/>
        </logger>
        
        
		<logger name="LoggingAspector" level="INFO" additivity="false">
			<appender-ref ref="jsconsole"/>
        </logger>
        
        
		<!-- TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
	 	<!-- sql  -->
	 	<logger name="log4jdbc.log4j2" level="INFO" additivity="false"> 
	        <MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY" onMismatch="NEUTRAL"/>
	        <MarkerFilter marker="LOG4JDBC_AUDIT" onMatch="DENY" onMismatch="NEUTRAL"/> 
	        <MarkerFilter marker="LOG4JDBC_RESULTSET" onMatch="DENY" onMismatch="NEUTRAL"/> 
	        <MarkerFilter marker="LOG4JDBC_CONNECTION" onMatch="DENY" onMismatch="NEUTRAL"/>
	        <MarkerFilter marker="LOG4JDBC_RESULTSETTABLE" onMatch="DENY" onMismatch="NEUTRAL"/>
	        <MarkerFilter marker="LOG4JDBC_SELECT" onMatch="DENY" onMismatch="NEUTRAL"/>
	        <MarkerFilter marker="LOG4JDBC_SELECT" onMatch="DENY" onMismatch="NEUTRAL"/>
			<appender-ref ref="sqlConsole"/>
<!-- 			<appender-ref ref="dailyRollingFileAppender" level="INFO"/> -->
		</logger>
		
		<logger name="org.springframework.jms.listener" level="INFO" additivity="false"> 
	        
		</logger> 

		<root level="INFO">
			<appender-ref ref="console"  />
<!-- 			<appender-ref ref="dailyRollingFileAppender"  level="INFO"/> -->
		</root>
		
		<logger name="wbm" level="INFO,DEBUG" additivity="true">
			<appender-ref ref="jconsole"/>
        </logger>
	</loggers>
	
</configuration>