@charset "UTF-8";
@import url('webfonts.css');

/****************************************/
/*  Name : HSE
/*  PART : main.css
/*  Version : 1.0
/*  Author : LEE SO MANG
/*  Modify : 
/****************************************/

/*************************************
    layout
*************************************/
/*0425 @smlee*/
body.header-active main > section {margin-top: 36px;}
main {margin-top: -45px;}
main > section.section1 {float: left;width: 322px; padding: 45px 25px 0 48px; background: #fafafa; height: calc(100vh - 42px);}
main > section.section2 {float: right;width: calc(100% - 322px); padding: 45px 50px 0 48px;}

/*************************************
    section1
*************************************/
.section1 .sub-tit {margin-bottom: 13px;}
.section1 .update-txt {text-align: center; font-weight: 700; letter-spacing: -.8px;font-weight: 700;}
.section1 .update-txt span {margin: 0 2px 0 3px;}
.section1 .update-txt span,
.section1 .update-txt span em {color: #3d3d3d;font-weight: 700;}
.section1 .update-txt.new span,
.section1 .update-txt.new span em {color: #20907f;} /*new*/
.section1 .chart-info {display: flex; align-items: center; justify-content: space-between; margin-top: 25px;}
.section1 .chart-info .tit {color: #222; font-weight: 500;}
.section1 .chart-info .num, 
.section1 .chart-info em {color: #4e958a; font-weight: 700;}

.chart-detail {height: 140px; overflow-y: auto;border-top: 1px solid #eaeaf2; border-bottom: 1px solid #eaeaf2;}/*0425 @smlee*/
.chart-detail ul li {display: flex; justify-content: space-between; position: relative;margin-top: 12px; padding: 0 19px 0 17px;}
.chart-detail ul li span:not(.tit),
.chart-detail ul li span * {font-weight: 700;}
.chart-detail ul li .tit {min-width: 92px; width: 91px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.chart-detail ul li .inner {width: calc(100% - 92px);}
.chart-detail ul li .total {color: #222;}
.chart-detail ul li .per {float: right;}
.chart-detail ul li::before {content: ""; width: 9px; height: 21px; position: absolute; top: 50%; transform: translateY(-50%); left: 0; background: #ccc;}
.chart-detail ul li:nth-child(1)::before {background: #b5cec8;}
.chart-detail ul li:nth-child(2)::before {background: #87c7bd;}
.chart-detail ul li:nth-child(3)::before {background: #327262;}
.chart-detail ul li:nth-child(1) .per {color: #83aba2;}
.chart-detail ul li:nth-child(2) .per {color: #4d9181;}
.chart-detail ul li:nth-child(3) .per {color: #154539;}

.total-cont1 .chart-box {height: 22px; margin: 10px 0 20px; border-radius: 20px;overflow: hidden;position: relative;}
.total-cont1 .chart-box::after {content: ""; width: 100%; height: 11px; position: absolute; bottom: 0; left: 0; background:#00000017;}
.total-cont1 .chart-box {display: flex;}
.total-cont1 .chart-box > div {flex: 1;}
.total-cont1 .chart-box .example1 {background: #b5cec8;}
.total-cont1 .chart-box .example2 {background: #87c7bd;}
.total-cont1 .chart-box .example3 {background: #327262;}

.total-cont2 {margin-top: 42px;}
.total-cont2 .chart-box {height: 145px;margin: 14px 0 10px; position: relative;}
.total-cont2 .chart-box .chart-txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; width: 100%;}
.total-cont2 .chart-box .chart-txt .tit {display: block;color: #222; font-weight: 500;}
.total-cont2 .chart-box .chart-txt .num {font-size: 26px; font-weight: 700; color: #20907f;}
.total-cont2 .chart-box .chart-txt .num em {font-weight: inherit;}

.circle-chart-box {width: 145px; height: 100%; border-radius: 50%; position: relative; margin: auto;}

/*************************************
    section2
*************************************/

/* header-cont */
.header-cont {position: relative;margin-bottom: 25px; width: max-content;}
.header-cont.open .company-select {display: block;} /*open*/
.header-cont.open .select-btn {background: #cecece;} /*open*/
.header-cont.open .select-btn::before {content: "\f106";color: #fff;} /*open*/

.company-select {/*width: -webkit-fill-available;*/border: 1px solid #d1d1d1; border-radius: 20px;padding: 10px 13px 8px 0;position: absolute; top: 44px; left: 0; background: #fff; z-index: 10; display: none;animation: fade-in-down .25s ease-in;}/*0425 @smlee*/
.company-select ul {max-height: 182px; overflow-y: auto;}
.company-select ul li a {display: block;padding: 10px 22px 10px 12px; font-size: 20px; color: #363636; font-weight: 700; position: relative; transition: all .3s; white-space: nowrap;}/*0425 @smlee*/
.company-select ul li a:hover {color: #d2d2d2;}
.header-cont-wrap {display: inline-flex; align-items: center;}
.header-cont .header-tit {font-size: 31px; color: #363636; font-weight: 800;}
.header-cont .select-btn {width: 37px; height: 37px; border-radius: 50%; border: 1px solid #d2d2d2; margin-left: 7px;}
.header-cont .select-btn::before {content: "\f107";font-family: 'Line Awesome Free';color: #a7a7a7;font-size: .9rem;font-weight: bold;}

@keyframes fade-in-down {
  0% {opacity: 0; transform: translateY(-10px);}
  100% {opacity: 1; transform: translateY(0);}
}
/* .company-select ul scrollbar */
.company-select ul::-webkit-scrollbar {width: 10px;}
.company-select ul::-webkit-scrollbar-thumb {border-radius: 4rem; border: 0.4rem solid #c9c9c9;}  
.company-select ul::-webkit-scrollbar-thumb:hover {border-color: #a8a8a8;}
.company-select ul::-webkit-scrollbar-track {background-color: #e8e8e8;border-radius: 4rem;} 

/* sub-cont */
.sub-cont1 {width: 100%; margin-bottom: 34px;}
.sub-cont2 {margin-right: 64px;}
.sub-cont3 {flex: 1; max-width: 853px;} /*0425 @smlee*/
.sub-cont-wrap {display: flex;}
.sub-cont .tit-area {display: flex; align-items: center;height: 42px;}
.sub-cont .tit-area.both {justify-content: space-between;} /*양쪽 정렬*/
.sub-cont1 .tit-area {height: auto;}

/* sub-tit (common) */
.sub-tit {font-size: 18px; color: #333; font-weight: 700;}
.sub-tit::before {font-family: "Line Awesome Free"; font-size: 1.35rem; vertical-align: middle; margin-right: 4px;}
.total-cont1 .sub-tit::before {content: "\f0ea";}
.total-cont2 .sub-tit::before {content: "\f0ea";}
.sub-cont1 .sub-tit::before {content: "\f783";}
.sub-cont2 .sub-tit::before {content: "\f071";}
.sub-cont3 .sub-tit::before {content: "\f7e4";}

/* sub-cont1 (Schedule management)
--------------------------------------------- */
/* schedule-date-wrap */
.schedule-date-wrap {display: flex;}
.date-header {display: flex; align-items: center;width: 200px;height: 38px;} /*0425 @smlee*/
.date-header .current {display: inline-block;font-size: 26px; color: #363636; margin-right: 15px;}
.date-header .current strong {font-weight: 500;}
.date-header .current .year::after {content: "."; margin-right: 7px;}
.date-header .date-controller {display: inline-block;}
.date-header .date-controller button {width: 26px; height: 26px; border-radius: 50%; border: 1px solid #d8d8d8; position: relative;}
.date-header .date-controller button + button {margin-left: 4px;}
.date-header .date-controller button i {color: #a7a7a7;font-size: .85rem;}
.date-header .date-controller button:hover {background: #f7f6f6; box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 3%);}
.date-header .date-controller button:hover i {transform: scale(.85);transform-origin: center;}

.date-lst {display: flex; flex-wrap: nowrap; width: 1263px;cursor: default;padding-left: 27px;}
.date-lst .day {min-width: 41px; width: 41px;font-size: 10px; color: #3b3b3b;font-weight: 400;}
.date-lst .day.disabled {color: #a7a7a7;} /*disabled*/
.date-lst .day.today {transform: translateY(-5px);} /*today*/
.date-lst .day.today .num {width: 23px; height: 23px; line-height: 23px; border-radius: 3px; background: #4e958a; margin: auto; color: #fff; margin-top: 3px;} /*today*/
.date-lst .day span {display: block; text-align: center;}
.date-lst .day .num {font-size: 16px;}

/* schedule-graph-wrap */
.schedule-graph-wrap {border: 2px solid #eaeaf2; border-left: 0; border-right: 0; margin-top: 3px; padding: 10px 0; display: flex;}
.graph-name {position: relative;min-width: 200px;}
.graph-name::after {content: ""; width: 1px; height: calc(100% + 23px); background: #eaeaf2; position: absolute; right: 0;top: 50%;transform: translateY(-50%);}
.graph-name ul li {font-size: 12px; color: #1c1d21;font-weight: 700; height: 22px; line-height: 22px; padding-left: 3px;}
.graph-name ul li::before {content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background: #ccc; margin-right: 4px;}
.graph-name ul li.th1::before {background: #4e958a;}
.graph-name ul li.th2::before {background: #e99f00;}
.graph-name ul li.th3::before {background: #455eee;}
.graph-name ul li.th4::before {background: #c592e5;}

.schedule-graph-wrap .graph-area {width: 100%;padding-left: 27px;}
.graph-track {display: flex; align-items: center; height: 22px; line-height: 22px;}
.graph-track .track {min-width: 41px;width: 41px;height: 14px;}

/* bar styling */
.graph-track .track .bar {display: block; width: 100%; height: 100%;}
.graph-track.graph-track1 .track.on .bar {background: #4e958a;}
.graph-track.graph-track2 .track.on .bar {background: #e99f00;}
.graph-track.graph-track3 .track.on .bar {background: #455eee;}
.graph-track.graph-track4 .track.on .bar {background: #c592e5;}
.graph-track .track.on.one-value .bar {border-radius: 15px;width: 14px; margin: auto;} /*one*/
.graph-track .track.start .bar {border-top-left-radius: 15px; border-bottom-left-radius: 15px; width: 68%; margin-left: auto;} /*start*/
.graph-track .track.end .bar {border-top-right-radius: 15px; border-bottom-right-radius: 15px;width: 68%;} /*end*/

/* sub-cont2 (Work risk assessment)
--------------------------------------------- */
.work-risk-assessment {position: relative; padding-left: 98px;font-family: 'Line Awesome Free';}
/* .work-risk-assessment > ul {width: 100%;} */
.value-bar {display: flex;position: relative;}
.value-bar + .value-bar {margin-top: 14px;}
.value-bar li:not(.total-value) {text-align: center; display: inline-block; flex: 1;border: 1px solid rgba(75, 75, 75, 0.226);height: 32px; line-height: 32px; margin: -1px;}
.value-bar .num {font-size: 14px; font-weight: 700;}
.value-bar1 .num {color: #222;}
.value-bar2 .num {color: #fff;}
.value-bar1 {margin-top: 15px;}
.value-bar1 li {position: relative;}
.value-bar1 li:not(.total-value):before {position: absolute; top: -17px; left: 0; font-size: 13px; color: rgba(34, 34, 34, 0.801); line-height: 1;}
.value-bar1 li:nth-child(1):before {content: "Less serious area";}
.value-bar1 li:nth-child(2)::before {content: "Serious area";}
.value-bar1 li:nth-child(3)::before {content: "Critical area";}

.value-bar li.total-value {position: absolute; left: -90px; top: 50%; transform: translateY(-50%); min-width: 68px;font-size: 30px; font-weight: 500; font-family: 'Poppins', sans-serif;text-align: right; color: #363636; }

.value-box-wrap {position: relative;}
.value-box-wrap small {position: absolute; font-size: 12px; font-weight: 500;}
.value-box-wrap small.y-axis {top: 50%;left: -142px; transform: rotate(270deg) translateY(-50%);}
.value-box-wrap small.x-axis {bottom: -48px;left: 50%;transform: translateX(-50%);}
.value-box {display: grid; grid-template-columns: repeat(5,1fr); margin-top: 15px;}
.value-box li {height: 67px;border: 1px solid #00000021; margin: -1px 0 0 -1px;text-align: center;font-size: 12px; font-weight: 600; color: rgba(34, 34, 34, 0.808);position: relative; display: flex; align-items: center; justify-content: center; flex-direction: column; min-width: 96px;}
.value-box li .num {display: block;font-weight: 800;}
.value-box li.type1 {background: #87c7bd;}
.value-box li.type2 {background: #ffd249;}
.value-box li.type3 {background: #ff6934;}

.x-num-axis::before, .y-num-axis::after {font-size: 13px; font-weight: 500; letter-spacing: -1px;color: rgba(34, 34, 34, 0.651);}
.x-num-axis::before {content:"";position: absolute; bottom: -286px;left: 50%;transform: translateX(-50%);white-space: nowrap;}
.y-num-axis::after {content:"";position: absolute; right: 103px; white-space: nowrap;}
.x-num-axis:nth-child(1)::before {content: "Very high";}
.x-num-axis:nth-child(2)::before {content: "High";}
.x-num-axis:nth-child(3)::before {content: "Medium";}
.x-num-axis:nth-child(4)::before {content: "Low";}
.x-num-axis:nth-child(5)::before {content: "Very low";}

.y-num-axis:nth-child(1)::after {content: "Very high";}
.y-num-axis:nth-child(6)::after {content: "High";}
.y-num-axis:nth-child(11)::after {content: "Medium";}
.y-num-axis:nth-child(16)::after {content: "Low";}
.y-num-axis:nth-child(21)::after {content: "Very low";}

/* sub-cont3 (Accident analysis)
--------------------------------------------- */
/* tab */
.tab-menu li {float: left;}
.tab-menu li + li {margin-left: 9px;}
.tab-menu li a {display: block; position: relative; padding: 0 11px; text-align: center;font-size: 13px; font-weight: 700; border: 1px solid #dcdcdc; border-radius: 15px; height: 27px; line-height: 27px;} 
.tab-menu li a::before {font-family: "Line Awesome Free"; font-size: 0.9rem; margin-right: 6px; vertical-align: top; font-weight: bold;}
.tab-menu li[tab="tab1"] a::before {content: "\f012";}
.tab-menu li[tab="tab2"] a::before {content: "\f022";}
.tab-menu li.current a {color: #4e958a; border: 2px solid #4e958a; line-height: 25px;} 

.tab-content {display: none; position: relative;}
.tab-content.current {display: inherit;}
.tab-content[tab="tab2"] {height: 434px; max-height: 434px;overflow-y: auto;padding-right: 14px;border-top: 1px solid #eaeaf2; border-bottom: 1px solid #eaeaf2;}

/*0425 @smlee*/
.tab-content .blank {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff;}
.tab-content .blank .txt-area {font-size: 15px; color: #d8d8d8;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); text-align: center;}
.tab-content .blank .icon::before {content: "\f27a";font-family: "Line Awesome Free";font-size: 54px;color: #c2c2c2;  position: absolute;top: 0;left: 50%;transform: translateX(-50%);}
.tab-content .blank .icon::after {content: "\f141";font-family: "Line Awesome Free";font-size: 1rem;color: #c2c2c2;  position: absolute;top: 17px;left: 50%;transform: translateX(-50%);font-weight: bold;}
.tab-content .blank .txt {display: inline-block;padding-top: 59px;}

.tab-content[tab="tab2"].current .tab-list-table .row {animation: fada-in-up .3s both linear}
.tab-content[tab="tab2"].current .tab-list-table .row:nth-child(1) {animation-delay: 0;}
.tab-content[tab="tab2"].current .tab-list-table .row:nth-child(2) {animation-delay: .2s;}
.tab-content[tab="tab2"].current .tab-list-table .row:nth-child(3) {animation-delay: .3s;}
.tab-content[tab="tab2"].current .tab-list-table .row:nth-child(4) {animation-delay: .4s;}

@keyframes fada-in-up {
  0% {opacity: 0; transform: translateY(10px);}
  100% {opacity: 1; transform: translateY(0);}
}

/* [1-History of occurrence] */
.tab-graph-area .legend {margin-bottom: 3px; text-align: right;}
.tab-graph-area .legend li {display: inline-block;}
.tab-graph-area .legend li + li {margin-left: 24px;}
.tab-graph-area .legend li .color {display:inline-block; width:5px; height: 11px; margin-right: 3px; background: #ccc;}
.tab-graph-area .legend li.item1 .color {background: #4e958a;}
.tab-graph-area .legend li.item2 .color {background: #e99f00;}
.tab-graph-area .legend li.item3 .color {background: #455eee;}
.tab-graph-area .legend li span {font-size: 13px; color: #222; font-weight: 500;}
.tab-graph-area .graph-box {background: #edf4f3; position: relative; width: 100%; height: 467px;}
.tab-graph-area .graph-box {
	/* background: #edf4f3; */ 
	position: relative; width: 100%; height: 412px;}/*0425 @smlee*/
.tab-graph-area .graph-box .axis {font-size: 12px; font-weight: 500; position: absolute;}
.tab-graph-area .graph-box .x-axis {left: -40px; top: 50%; transform: translateY(-50%) rotate(270deg);}
.tab-graph-area .graph-box .y-axis {bottom: 0; left: 50%; transform: translateX(-50%);}

/* [2-list] tab-list-table */
.tab-content .bar-top {position: sticky; top: 0; width: 100%; height: 11px; background: #fff; z-index: 999;}
.tab-list-table {position: relative;padding-bottom: 13px;;}
.tab-list-table .row {display: flex; opacity: 0;}
.tab-list-table .row ~ .row {margin-top: 8px;}

/* [2-list] total-panel */
.total-panel {position: relative;width: 70px; margin-right: 18px; border-radius: 5px; background: #f1f1f1;text-align: center; display: table;}
.total-panel-wrap {display: table-cell; table-layout: fixed;vertical-align: middle;font-family: 'Gothic A1', sans-serif;}  
.total-panel .name {font-size: 13px;font-weight: 700;}
.total-panel .num {font-size: 20px; color: #4e958a; font-weight: 700;}
.list-info-area {width: calc(100% - 88px);}
.list-info-area li {display: flex; justify-content: space-between;align-items: center;width:100%; border: 1px solid #efeff1; border-left: 0; border-right: 0; padding: 7px 0;}

/* [2-list] item-subject */
.item-subject {max-width: calc(100% - 180px);}
.item-subject .subject {display: block;font-weight: 700; color: #333;margin-bottom: 4px;}
.item-subject .subject span {display: inline-block;vertical-align: middle;max-width: 442px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; line-height: 1;}
.item-subject .subject strong { position: relative;color: #297367; padding-right: 10px;margin-right: 5px;vertical-align: middle;} 
.item-subject .subject strong::after {content: ""; width: 2px; height: 15px; background: #e3e3e8; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.item-subject .subject:hover * {text-decoration: underline;}
.item-subject .bottom-info {line-height: 1;}
.item-subject .bottom-info .place,
.item-subject .bottom-info .staff {font-size: 12px; font-weight: 600;}
.item-subject .bottom-info .place {margin-right: 23px;}
.item-subject .bottom-info .place span {color: #222; margin-left: 7px; font-weight: 800;}

/* [2-list] item-info */
.item-info {width: 180px; font-size: 12px; font-weight: 600; text-align: right;}
.item-info .staff {display: block; line-height: 1;margin-bottom: 4px; max-width: 179px; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}
.item-info .staff *:not(:first-child)::before {content: ","; margin-right: 2px;}
.item-info .time {margin-left: 7px;}

/* [2-list] icon */
.item-subject .bottom-info .place::before,
.item-subject .bottom-info .staff::before,
.item-info .staff::before,
.item-info .date-time-wrap::before {content: ""; font-family: "Line Awesome Free"; font-size: .85rem; color: #b3b3b3;vertical-align: middle; margin-right: 3px;}
.item-subject .bottom-info .place::before {content: "\f041"; }
.item-subject .bottom-info .staff::before {content: "\f071";}
.item-info .staff::before {content: "\f807";}
.item-info .date-time-wrap::before {content: "\f017";}

@media screen and (min-width:2000px) {
  /* section1 */
  .chart-detail {height: 270px;}
  /* section2 */
  .sub-cont2 {width: 40%;}
  .y-num-axis::after {right: 160px;}
}