@charset "UTF-8";
/*-------------------------------------------------
title       :layout
Author      :parkgahye
Create date :2020-02-04
-------------------------------------------------*/

/* ========================================== header */
#header{position:relative;width:100%;z-index:98;height:60px;background:#455eee;color:#fff;}
#header .custom_header{display:inline-block;}
#header .logo{display:inline-block;width:74px;height:60px;float:left;background:#2e2e2e;-webkit-transition:width .5s;transition:width .5s;}
#header .logo > a{position:relative;display:block;width:100%;height:100%;}
#header .logo > a:before{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:27px;height:29px;background:url(/img/layout/logo.png)no-repeat center/contain;content:'';}
#header .logo > a:hover:before{content: '\e900';font-family: 'xeicon';font-size: 30px;background:none;top: 25px;left: 35px;} /* @JK - 추가, 원래 없었음 */
#header .select-machine-wrap{position:absolute;top:0;left:74px;display:inline-block;float:left;}
#header .select-machine{position:relative;float:left;background:#3a54e7;width:240px;}
#header .select-machine2{background:#2a4fde;}
#header .select-machine3{background:#1d41cc;}
#header .select-machine:before{position:absolute;z-index:1;top:20px;right:1.25rem;font-family:"xeicon";content:'\e936';-webkit-transition:transform .3s;transition:transform .3s;}
#header .select-machine li{height:0;visibility:hidden;overflow:hidden;-webkit-transition:all .3s;transition:all .3s;}
#header .select-machine li.active,
#header .select-machine.fold li{height:60px;visibility:visible;}
#header .select-machine li > a{position:relative;display:block;width:100%;height:100%;line-height:60px;padding:0 2rem 0 1.25rem;font-weight:500;}
#header .select-machine li > a:before{position:absolute;bottom:0;left:0;width:0;height:100%;background:#455eee;content:'';-webkit-transition:width .5s;transition:width .5s;}
#header .select-machine li > a:hover:before{width:100%;}
#header .select-machine li > a > span{display:block;position:relative;z-index:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#header .select-machine.fold:before{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
#header .t-side{float:right;}
#header .t-side > ul > li{position:relative;float:left;}
#header .t-side > ul > li.change-layout-btn{display:none;}
body.setting-wrap #header .t-side > ul > li.change-layout-btn,
body.main-wrap #header .t-side > ul > li.change-layout-btn{display:block;}
#header .t-side > ul > li > a{position:relative;display:block;width:60px;height:60px;line-height:60px;text-align:center;-webkit-transition:all .5s;transition:all .5s;}
#header .t-side > ul > li > a > i{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);font-size:1.1rem;}
#header .t-side li.t-side-notice > a{padding:0 1.25rem;}
#header .t-side li.t-side-notice > a i{left:inherit;right:1rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#header .t-side li.t-side-notice > a .alarm-num{display:inline-block;position:absolute;padding:.1rem .2rem;top:17px;right:8px;background:#ff9329;border-radius:10px;text-align:center;font-size:.55rem;font-weight:500;line-height:1;color:#fff;}
#header .t-side li.t-side-notice > a:hover > i{transform-origin:top;-webkit-animation:ringBell 5s infinite linear;animation:ringBell 5s infinite linear;}
#header .t-side-popup-scroll .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical{right:-20px;}
#header .t-side-popup .all-close{position:absolute;top:1.75rem;right:2.2rem;font-size:1rem;opacity:0;visibility:hidden;-webkit-transition:opacity .3s, visibility .3s;transition:opacity .3s, visibility .3s;}
#header .t-side > ul > li.active > a{background:#5c5c5c;}
#header .t-side > ul > li.change-layout-btn > a > i{-webki-transition:top .3s;transition:top .3s;}
#header .t-side > ul > li.change-layout-btn.active > a{background:#fff;color:#455eee;}
#header .t-side > ul > li.active .t-side-popup{height:calc(100vh - 60px);opacity:1;visibility:visible;}
#header .t-side > ul > li.t-side-setting > a:hover > i{-webkit-animation:spin 4s infinite linear;animation:spin 4s infinite linear;}
#header .t-side > ul > li.t-side-question > a > i,
#header .t-side > ul > li.t-side-userinfo > a > i{-webki-transition:top .3s;transition:top .3s;}
#header .t-side > ul > li.t-side-question > a:hover > i,
#header .t-side > ul > li.change-layout-btn > a:hover > i,
#header .t-side > ul > li.t-side-userinfo > a:hover > i{top:47%;}

/* @JK - 헤더 사용자 정보 아이콘, 툴팁 */
.t-side-userinfo {position: relative;}
.userinfo-cont {opacity: 1; visibility: hidden;}
.userinfo-cont.active {top: 60px; opacity: 1; visibility: visible;}
.userinfo-cont {position: absolute; top: 45px; background: #5c5c5c; border-radius: 5px; width: 300px; -webkit-transition: top 700ms ease; -o-transition: top 700ms ease; transition: top 700ms ease; right: 0; color: #fff; -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%); box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);padding: 15px;}
.userinfo-cont::after {content: ""; display: block; width: 15px; height: 15px; position: absolute; top: -7px; left: 50%; margin-left: 112px; background: #5c5c5c; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg);}
.userinfo-cont .tit {display: block; font-size: 1rem; margin-bottom: 10px;}
.userinfo-cont .tit:before {display:inline-block;vertical-align:middle;font-family: 'xeicon';color: #ff9329;font-size: 1.2rem;content:'\e9f3';margin-right:7px;}
.userinfo-cont p {font-size: .7rem; line-height: 2; font-weight: 300; display:flex; justify-content: flex-start;}
.userinfo-cont p span:nth-child(1){width:105px;font-weight: 700;text-align: right; margin-right:5px}
.userinfo-cont p span:nth-child(2){width:calc(100% - 100px);font-weight: 300; text-align: left;clear:none; word-break:break-all;}
.t-side-userinfo .ch-btn {background: #455eee;color: #fff;border: 1px solid #455eee; border-radius: 5px; margin-top: 15px; width: 100%;}
.t-side-userinfo .ch-btn:hover {background: #fff;color: #455eee; }
/* //@JK - 헤더 사용자 정보 아이콘, 툴팁 */

#header .t-side-popup{position:fixed;padding:2.5rem 2.25rem 2rem;top:60px;right:0;width:534px;;background:#5c5c5c;color:#fff;opacity:0;height:0;visibility:hidden;-webkit-transition:opacity .3s, visibility .3s, top .3s, height .3s;transition:opacity .3s, visibility .3s, top .3s, height .3s;}
#header .t-side-popup .all-clear-btn{display:inline-block;margin-top:1rem;float:right;color:#9c9c9c;font-size:.7rem;font-weight:300;}
#header .t-side-popup-scroll{overflow:hidden;height:100%;}
#header .t-side-popup .t-side-popup-scroll > .heading1,
#header .t-side-popup .mCSB_container > .heading1{margin-top:0;}
#header .t-side-popup .mCSB_container .notice-lst + .heading1{margin-top:1.75rem;}
#header .notice-lst > li{position:relative;padding:1rem 1.1rem;background:#666;}
#header .notice-lst > li + li{margin-top:.15rem;}
#header .notice-lst > li .close{position:absolute;top:1.25rem;right:1rem;font-size:.75rem;color:#cacaca;-webkit-transition:transform .3s;transition:transform .3s;}
#header .notice-lst > li .close:hover{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
#header .notice-lst > li > a.cont-wrap{position:relative;display:block;width:100%;height:100%;padding-left:1.5rem;}
#header .notice-lst > li > a.cont-wrap:before{position:absolute;top:-2px;left:0;font-family:'xeicon';color:#ff9329;font-size:1.2rem;line-height:1;content:'\e9d0';}
#header .notice-lst2 > li > a.cont-wrap:before{content:'\ea2d';}
#header .notice-lst3 > li > a.cont-wrap:before{content:'\e99c';}
#header .notice-lst > li > a.cont-wrap .cont{display:block;font-weight:300;color:#d0d0d0;font-size:.7rem;line-height:1.4;}
#header .notice-lst > li > a.cont-wrap .cont .substring{display:inline;}
#header .notice-lst > li > a.cont-wrap .cont-info{display:block;margin-top:.75rem;overflow:hidden;}
#header .notice-lst > li > a.cont-wrap .cont-info .version{position:relative;padding-left:1rem;float:left;font-weight:500;}
#header .notice-lst > li > a.cont-wrap .cont-info .version:before{position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-family:'xeicon';content:'\eb59';}
#header .notice-lst > li > a.cont-wrap .cont-info .version.user:before{font-family:'xeicon'; content:'\e9f3';}
#header .notice-lst > li > a.cont-wrap .cont-info .day-time{display:inline-block;float:right;overflow:hidden;}
#header .notice-lst > li > a.cont-wrap .cont-info .day-time em{display:inline-block;float:left;font-weight:300;color:#cacaca;font-size:.6rem;}
#header .notice-lst > li > a.cont-wrap .cont-info .day-time em + em{margin-left:.25rem;}
#header .cont-none{position:relative;width:100%;height:100%;}
#header .cont-none > strong{display:block;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);font-size:.8rem;font-weight:700;}
#header .view-post-btn{position:absolute;bottom:3.25rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:100%;padding:.7rem 2.25rem;background:#666;color:#d0d0d0;font-size:.7rem;text-align:right;}
#header .view-post-btn:before{position:absolute;top:50%;right:.75rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-family:'xeicon';content:'\e93f';font-size:1rem;-webkit-transition:right .3s;transition:right .3s;}
#header .view-post-btn:hover:before{right:.5rem;}

/*header gnb-active*/
body.gnb-active #header .logo{width:250px;}
body.gnb-active #header .logo > a:before{width:109px;height:27px;background:url(/img/layout/logo_active.png)no-repeat center/contain;}
body.gnb-active #header .logo > a:hover:before{content: '\e900';font-family: 'xeicon';font-size: 30px;background: none;top: 25px;left: 161px;} /* @JK - 추가, 원래 없었음 */
body.gnb-active #header .select-machine-wrap{left:250px;}

/* ========================================== //header */

/* ========================================== gnb */
/*gnb*/
.gnb-wrap{position:absolute;z-index:90;top:60px;left:0;height:calc(100vh - 60px);background:#f2f2f3;}
#gnb{position:relative;width:74px;height:100%;z-index:97;}
#gnb:before{position:absolute;top:0;left:0;width:74px;height:100vh;background:#424242;content:'';z-index:2;}
#gnb .gnb-lst > li > a{position:relative;display:block;width:100%;height:74px;color:#9d9d9d;text-align:center;-webkit-transition:color .3s;transition:color .3s;z-index:2;}
#gnb .gnb-lst > li.home > a{background:#5c5c5c;}
#gnb .gnb-lst > li.home > a:before{position:absolute;z-index:1;top:50%;left:50%;width:30px;height:30px;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background-image:url(../../img//layout/gnb_m_icon.png);background-repeat:no-repeat;background-position:0 0;background-size:cover;content:'';-webkit-transition:all .3s;transition:all .3s;}
#gnb .gnb-lst > li > a:after{position:absolute;bottom:0;right:0;width:0;height:100%;background:#f2f2f3;content:'';-webkit-transition:width .3s;transition:width .3s;} /*방향 변경,left -> right*/
#gnb .gnb-lst > li > a > span{position:absolute;z-index:1;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);display:block;padding-top:1.75rem;font-size:.5rem;font-weight:500;}
#gnb .gnb-lst > li > a > span:before{position:absolute;top:0;left:50%;width:30px;height:30px;-webkit-transform:translateX(-50%);transform:translateX(-50%);background-image:url(../../img//layout/gnb_m_icon.png);background-repeat:no-repeat;background-position:-30px 0;background-size:cover;content:'';-webkit-transition:all .3s;transition:all .3s;}
#gnb .gnb-lst > li#M_WTB_03 > a > span:before{background-position:-60px 0;}
#gnb .gnb-lst > li#M_WTB_02 > a > span:before{background-position:-90px 0;}
#gnb .gnb-lst > li#M_WTB_07 > a > span:before{background-position:-120px 0;}
#gnb .gnb-lst > li#M_WTB_04 > a > span:before{background-position:-150px 0;}
#gnb .gnb-lst > li#M_WTB_01 > a > span:before{background-position:-180px 0;}
#gnb .gnb-lst > li#M_WTB_08 > a > span:before{background-position:-210px 0;}
#gnb .gnb-lst .depth2{position:absolute;top:0;left:-95px;width:176px;height:100%;background:#f2f2f3;color:#5c5c5c;z-index:1;opacity:0;visibility:hidden;-webkit-transition:left .5s, opacity .5s, visibility .5s;transition:left .5s, opacity .5s, visibility .5s;}
#gnb .gnb-lst .depth2 > li > a{position:relative;display:block;padding:1.35rem 1.7rem 1.25rem 1.15rem;font-size:.65rem;font-weight:500;}
#gnb .gnb-lst .depth2 > li:first-of-type > a{padding-top:1.5rem;}
#gnb .gnb-lst .depth2 > li > a:before{position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:calc(100% - 1.15rem);height:1px;background:#e4e5e8;content:'';}
#gnb .gnb-lst .depth2 > li> a:after{position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:calc(100% - 1.15rem);height:1px;background:#e4e5e8;content:'';}
#gnb .gnb-lst .depth2 > li:first-of-type > a:after{display:none;}
#gnb .gnb-lst .depth2 > li > a > span{position:relative;display:block;width:100%;}
#gnb .gnb-lst .depth2 > li > a > span:before{position:absolute;top:50%;right:1rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-family:'xeicon';content:'\e93f';color:#3a54e7;font-size:1rem;opacity:0;visibility:hidden;-webkit-transition:opacity .3s, visibility .3s, right .3s;transition:opacity .3s, visibility .3s, right .3s;}
#gnb .gnb-lst .depth3{padding:.65rem 0;  display: none;}
#gnb .gnb-lst .depth2 > li.active > .depth3{display: block;}
#gnb .gnb-lst .depth3 > li > a{position:relative;display:block;padding:.5rem 1.15rem;font-size:.7rem;color:#5c5c5c;}
#gnb .gnb-lst .depth3 > li > a > span{position:relative;display:inline-block;padding-left:.5rem;}
#gnb .gnb-lst .depth3 > li > a > span:before{position:absolute;top:7px;left:0;width:3px;height:3px;border-radius:10px;background:#424242;content:'';}
#gnb .gnb-side{position:absolute;z-index:2;width:100%;bottom:1.25rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
#gnb .gnb-side a{position:relative;display:block;width:100%;height:74px;color:#9d9d9d;text-align:center;-webkit-transition:color .3s;transition:color .3s;}
#gnb .gnb-side .login-toggle-btn > span{position:absolute;z-index:1;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);display:block;padding-top:1.75rem;font-size:.5rem;font-weight:500;}
#gnb .gnb-side .login-toggle-btn > span:before{position:absolute;top:0;left:50%;width:30px;height:30px;-webkit-transform:translateX(-50%);transform:translateX(-50%);background-image:url(../../img//layout/gnb_m_icon.png);background-repeat:no-repeat;background-position:-240px 0;background-size:cover;content:'';-webkit-transition:all .3s;transition:all .3s;}
#gnb .lang-select.select-box{margin:0 auto 1rem;overflow:hidden;width:calc(100% - 20px);height:28px;border-radius:25px;border:none;}
#gnb .lang-select.select-box select{min-height:28px;}
#gnb .lang-select.select-box label{display:block;background:#fff;color:#6b6b6b;line-height:28px;padding:0 .75rem;font-size:.55rem;}
#gnb .lang-select.select-box label:after{right:.3rem;content:'\e936';color:#909090;line-height:1;}
#gnb .gnb-side .setting-btn,
#gnb .gnb-side .lang-btn{display:none;}
#gnb .gnb-side a i{display:none;font-size:1.05rem;line-height:63px;}

/*gnb active*/
body.gnb-active .gnb-wrap{width:250px;}
#gnb .gnb-lst > li.on > a:after{width:100%;}
#gnb .gnb-lst > li.on > a{color:#3a54e7;}
#gnb .gnb-lst > li.home.on > a:before,
#gnb .gnb-lst > li.on > a > span:before{background-image:url(../../img//layout/gnb_m_icon_active.png);}
#gnb .gnb-side .login-toggle-btn:hover > span:before{-webkit-transform:translate(-50%, -3px);transform:translate(-50%, -3px);}

/*gnb depth2 active*/
#gnb .gnb-lst > li.on > .depth2{left:74px;opacity:1;visibility:visible;}
#gnb .gnb-lst .depth2 > li.active > a,
#gnb .gnb-lst .depth2 > li > a:hover{color:#3a54e7;}
#gnb .gnb-lst .depth2 > li.active > a > span:before,
#gnb .gnb-lst .depth2 > li > a:hover > span:before{right:-1rem;opacity:1;visibility:visible;}

/*gnb depth3 active*/
#gnb .gnb-lst .depth3 > li.active > a,
#gnb .gnb-lst .depth3 > li > a:hover{color:#000;font-weight:500;}

/*gnb login-toggle-btn active*/
#gnb .gnb-side .login-toggle-btn:hover:after,
#gnb .gnb-side .login-toggle-btn.active:after{width:100%;}

/*header-fixed*/
html.t-side-fixed{height:100vh;overflow:hidden;}
body.header-fixed .gnb-wrap{position:fixed;top:0;height:100vh;}
body.header-fixed #header .t-side > ul > li.active .t-side-popup{top:0;height:100vh;}
html.t-side-fixed.header-fixed .gnb-wrap{position:absolute;top:60px;height:calc(100vh - 60px);}
/* ========================================== //gnb */

/* ========================================== all-menu */
.all-menu{position:absolute;display:none;width:27px;height:30px;top:50%;left:1.2rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.all-menu > em{display:inline-block;position:absolute;width:100%;height:100%;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.all-menu > em > em{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);display:inline-block;width: 20px;height: 3px;background:#fff;transition:all .5s cubic-bezier(.535,0,0,1) 0s;-webkit-transition:all .5s cubic-bezier(.535,0,0,1) 0s;}
.all-menu > em > em:before,
.all-menu > em > em:after{position:absolute;top:0;left:50%;background:#fff;width: 20px;height: 3px;transition:all .5s cubic-bezier(.535,0,0,1) 0s;-webkit-transition:all .5s cubic-bezier(.535,0,0,1) 0s;content:'';}
.all-menu > em > em:before{transform: translate(-50%, 7px);}
.all-menu > em > em:after{transform: translate(-50%, -7px);}
html.all-menu-active{height:100vh;overflow:hidden;}
.all-menu-active .all-menu > em > em:before{transform:rotate(-225deg) translate(8px, 8px);width:1.15rem;height:.1rem;background:#041e7f;}
.all-menu-active .all-menu > em > em:after{transform:rotate(225deg) translate(8px, -8px);width:1.15rem;height:.1rem;background:#041e7f;}
.all-menu-active .all-menu > em > em{background:transparent !important;}
/* ========================================== //all-menu */

/* ========================================== heading-tit */
.heading-tit{display:none;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);max-width:50%;font-size:.875rem;font-weight:500;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* ========================================== /heading-tit */

/* ========================================== footer */
#footer{position:relative;text-align:right;}
#footer .copyright{display:block;font-weight:300;}
#footer .copyright > strong{display:inline-block;font-weight:500;}
/* ========================================== //footer */

/* ========================================== mobile header */
#header .t-side > ul > li.select-machine-btn{display:none;}
/* ========================================== //mobile header */

/* ========================================== mobile lang */
#layerPopupLang{position:fixed;top:0;left:0;background:rgba(0,0,0,.28);width:100%;height:100%;z-index:999;opacity:0;visibility:hidden;-webkit-transition:all .5s;transition:all .5s;}
#layerPopupLang.active{opacity:1;visibility:visible;}
#layerPopupLang .layer-cont{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:525px;max-height:90%;padding:1.75rem 1rem;background:#fff;border-radius:10px;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);box-shadow:0 0 5px 0 rgba(0,0,0,0.2);}
#layerPopupLang .layer-cont .layer-scroll{height:100%;}
#layerPopupLang .layer-cont .tit-wrap{margin-bottom:1.25rem;}
#layerPopupLang .layer-close{position:fixed;top:1rem;right:1rem;color:#878793;font-size:.9rem;}
#layerPopupLang .layer-close i{-webkit-transition:transform .3s;transition:transform .3s;}
#layerPopupLang .layer-close:hover i{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
#layerPopupLang.layer-popup-lang .layer-cont{width:290px !important;padding:1.125rem 0 0 !important;}
#layerPopupLang.layer-popup-lang .layer-cont .tit{display:block;margin:0  1.25rem 1rem;font-size:1rem;font-weight:500;color:#000;text-align:center;}
#layerPopupLang.layer-popup-lang .lang-select-lst li > a{position:relative;display:block;padding:1rem 1.25rem;font-size:.8rem;font-weight:500;color:#cacaca;}
#layerPopupLang.layer-popup-lang .lang-select-lst li.active > a{color:#343434;}
#layerPopupLang.layer-popup-lang .lang-select-lst li.active > a:before{position:absolute;top:50%;right:1.25rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-family:'xeicon';font-size:1rem;color:#455eee;content:'\e928'}
#layerPopupLang.layer-popup-lang .lang-btn{position:relative;display:inline-block;float:left;padding:.75rem 0;top:auto;right:auto;bottom:0;width:50%;text-align:center;color:#6f6f6f;font-size:.75rem;font-weight:300;}
#layerPopupLang.layer-popup-lang .lang-btn-wrap{overflow:hidden;border-top:1px solid #dcdcdc;margin-top:1rem;}
#layerPopupLang.layer-popup-lang .lang-btn + .lang-btn{border-left:1px solid #dcdcdc;}
/* ========================================== //mobile lang */

/* ========================================== mobile lang-select */
#gnb .gnb-lst > li.home .lang-select.select-box{display:none;}
/* ========================================== //mobile lang-select */

/* ========================================== mobile-setting */
.mobile-setting{display:none;}
/* ========================================== //mobile-setting */


/* ========================================== layer-popup-notice*/
#layerPopupNotice{position:fixed;top:0;left:0;background:rgba(0,0,0,.28);width:100%;height:100%;z-index:999;opacity:0;visibility:hidden;-webkit-transition:all .5s;transition:all .5s;}
#layerPopupNotice.active{opacity:1;visibility:visible;}
#layerPopupNotice .layer-cont{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:525px;max-height:90%;padding:1.5rem 1rem 1.75rem;background:#fff;border-radius:10px;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.2);box-shadow:0 0 5px 0 rgba(0,0,0,0.2);}
#layerPopupNotice .layer-cont .layer-scroll{height:100%;}
#layerPopupNotice .layer-cont .tit-wrap{margin-bottom:1.25rem;}
#layerPopupNotice .layer-cont .search-form-wrap .search-wrapper{width:100%;}
#layerPopupNotice .search-form-wrap .search-wrapper form .input-group:after{display:none;}
#layerPopupNotice .search-form-wrap .search-wrapper form input{padding-left:.5rem;}
#layerPopupNotice .footer_table_btn{margin-top:1.25rem;text-align:right;}
#layerPopupNotice .footer_table_btn .btn{background:#f4f5f7;border-color:#f4f5f7;color:#666;}
#layerPopupNotice .footer_table_btn .btn:hover{background:#455eee;borer-color:#455eee;color:#fff;}
#layerPopupNotice .layer-close{position:absolute;top:1rem;right:1rem;color:#878793;font-size:.9rem;}
#layerPopupNotice .layer-close i{-webkit-transition:transform .3s;transition:transform .3s;}
#layerPopupNotice .layer-close:hover i{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
#layerPopupNotice .mCustomScrollbar .layer-close{top:0;}
#layerPopupNotice .notice-detail{border-top:1px solid #ebebed;overflow:hidden;}
#layerPopupNotice .notice-detail .tit{display:block;padding:1.2rem 0;color:#424242;font-size:1.2rem;font-weight:400;}
#layerPopupNotice .notice-detail .day{display:block;text-align:right;color:#828282;font-size:.7rem;}
#layerPopupNotice .notice-detail .cont{display:block;margin-top:2.5rem;color:#828282;font-size:.7rem;background:#fff;font-family:'Gotham','Noto Sans KR', 'Nanum Square', 'Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;}
/* ========================================== //layer-popup-notice */




@keyframes ringBell{
	0%, 50%{
		transform:translateY(-50%) rotate(0deg);
	}
	5%, 15%, 25%, 35%, 45% {
		transform:translateY(-50%) rotate(10deg);
	}
	10%, 20%, 30%, 40% {
		transform:translateY(-50%) rotate(-10deg);
	}
}
@-webkit-keyframes ringBell{
	0%, 50%{
		-webkit-transform:translateY(-50%) rotate(0deg);
	}
	5%, 15%, 25%, 35%, 45% {
		-webkit-transform:translateY(-50%) rotate(10deg);
	}
	10%, 20%, 30%, 40% {
		-webkit-transform:translateY(-50%) rotate(-10deg);
	}
}
@-webkit-keyframes spin {
    from { -webkit-transform:translate(-50%, -50%) rotate(0deg);}
    to { -webkit-transform:translate(-50%, -50%) rotate(360deg);}
}
@keyframes spin {
    from {transform:translate(-50%, -50%) rotate(0deg);}
    to {transform:translate(-50%, -50%) rotate(360deg);}
}

/*responsive*/
@media screen and (max-width:1280px){
	/* gnb */
	.gnb-wrap{top:59px;left:-100%;height:100%;min-height:800px;opacity:0;visibility:hidden;-webkit-transition:left .3s, oapcity .3s, visibility .3s;transition:left .3s, oapcity .3s, visibility .3s;}
	html.all-menu-active .gnb-wrap{width:auto;left:0;opacity:1;visibility:visible;}
	#gnb:before{height:100%;}
	#gnb .gnb-side{position:relative;left:0;bottom:inherit;margin-top:2.5rem;-webkit-transform:translateX(0);transform:translateX(0);}
	#gnb:after{position:absolute;top:0;left:0;width:100vw;height:100%;background:rgba(0,0,0,.3);content:'';}
	
	
	/* header */
	#header .t-side > ul > li.select-machine-btn{display:inline-block;}
	#header .t-side > ul > li.t-side-setting,
	#header .t-side > ul > li.t-side-question{display:none;}
	.select-machine-wrap{position:fixed;top:0;right:-20%;height:100%;opacity:0;visibility:hidden;-webkit-transition:right .3s, oapcity .3s, visibility .3s;transition:right .3s, oapcity .3s, visibility .3s;}
	.select-machine-active .select-machine-wrap{right:0;opacity:1;visibility:visible;}
	
	#header{height:59px;}
	#header .logo{display:none;}
	#header .t-side > ul > li > a{width:50px;height:59px;}
	#header .t-side > ul > li > a > i{font-size:1.4rem;}
	#header .t-side-popup{top:59px;}
	
	.all-menu{display:inline-block;}
	
	body.header-fixed #header{position:fixed;top:-59px;}
	body.header-fixed.header-fixed-ani #header{top:0;-webkit-transition:top .3s;transition:top .3s;}
	body.header-fixed #header .t-side > ul > li.active .t-side-popup{top:59px;}
	
	#header .select-machine-wrap{top:-100%;left:0;right:auto;width:100%;overflow:hidden;-webkit-transition:all .3s;transition:all .3s;}
	#wrap.select-machine-wrap-active #header .select-machine-wrap{display:block;top:59px;opacity:1;visibility:visible;overflow:visible;}
	#header .select-machine{width:33.333%;}
	body.gnb-active #header .select-machine-wrap{width:100%;left:0;}
	.heading-tit{display:inline-block;}
	body.header-fixed .gnb-wrap{top:59px;}
	#header .t-side > ul > li.active > a{background:transparent !important;}
	#header .t-side > ul > li.active > a,
	#wrap.select-machine-wrap-active #header .t-side > ul > li.select-machine-btn > a{color:#041e7f !important;}
	#header .t-side > ul > li > a{-webkit-transition:all 0s;transition:all 0s;}
}
@media screen and (max-width:1200px){
	/* header */
	#header .select-machine li > a,
	#header .select-machine:before{font-size:.9rem;}
}
@media screen and (max-width:1024px){
	/* header */
	#header .t-side > ul > li > a{width:50px;}
	#header .t-side > ul > li.change-layout-btn{display:none !important;}
}
@media screen and (max-height:800px){
	/* gnb */
	#gnb .gnb-lst > li > a > span{padding-top:1.3rem;}
	#gnb .gnb-lst > li > a,
	#gnb .gnb-side a{height:60px;}
	#gnb .gnb-lst > li.home > a:before{width:23px;height:23px}
	#gnb .gnb-lst > li > a > span:before{width:23px;height:23px;background-position:-23px 0;}
	#gnb .gnb-lst > li#M_WTB_03 > a > span:before{background-position:-46px 0;}
	#gnb .gnb-lst > li#M_WTB_02 > a > span:before{background-position:-69px 0;}
	#gnb .gnb-lst > li#M_WTB_07 > a > span:before{background-position:-92px 0;}
	#gnb .gnb-lst > li#M_WTB_04 > a > span:before{background-position:-115px 0;}
	#gnb .gnb-lst > li#M_WTB_01 > a > span:before{background-position:-138px 0;}
	#gnb .gnb-lst > li#M_WTB_08 > a > span:before{background-position:-161px 0;}
	#gnb .gnb-side .login-toggle-btn > span:before{width:23px;height:23px;background-position:-185px 0;}
	#gnb .gnb-side{margin-top:1.25rem;}
	#gnb .lang-select.select-box{margin-bottom:.5rem;}
}

@media screen and (max-width:767px){
    /* header */
    #header .t-side-popup{width:100%;}
    #header .select-machine li.active{-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,0.1);box-shadow:0 3px 8px 0 rgba(0,0,0,0.1);}
    #header .select-machine li > a:before{display:none;}
    #header .select-machine li + li > a:after{position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:calc(100% - 2.5rem);height:1px;background:rgba(0,0,0, .1);content:'';}
   
	#header .view-post-btn{position:fixed;bottom:100%;font-size:.65rem;padding:1rem 2.75rem 1rem 1.25rem;-webkit-transition:all .3s;transition:all .3s;}
    #header .cont-none > strong{font-size:.625rem;font-weight:500;}
	#header .view-post-btn:before{right:1.25rem;}
	#header .t-side > ul > li.active .t-side-popup .view-post-btn{bottom:0;}
	
	#header .select-machine{width:100%;}
	#header .notice-lst > li{border-radius:6px;padding:1.25rem .75rem;-webkit-box-shadow:0px 3px 8px 0 rgba(0,0,0,0.1);box-shadow:0px 3px 8px 0 rgba(0,0,0,0.1);}
	#header .notice-lst > li + li{margin-top:.5rem;}
	
	#header .t-side-popup{padding:1rem 1.25rem;}
	#header .t-side-popup .heading1{font-size:1rem;margin:1rem 0;font-weight:500;}
	#header .t-side-popup .mCSB_container .notice-lst + .heading1{margin:1rem 0;}
	#header .notice-lst > li > a.cont-wrap:before{font-size:1rem;}
    #header .t-side-popup .heading2{font-size:.75rem;margin-bottom:.575rem;}
    #header .notice-lst > li > a.cont-wrap .cont{font-size:.575rem;}
    #header .notice-lst > li > a.cont-wrap .cont-info{margin-top:1.25rem;}
    #header .notice-lst > li > a.cont-wrap .cont-info .version{font-size:.65rem;}
    #header .notice-lst > li > a.cont-wrap .cont-info .day-time{font-size:.65rem;}
	
	/* gnb */
	body.gnb-active .gnb-wrap{width:100%;}
	#gnb{width:100%;min-height:750px;padding-bottom:9rem;}
	#gnb .gnb-lst .depth2{width:calc(100vw - 74px);}
	html.all-menu-active .gnb-wrap{width:100%;background:#424242;}
	#gnb .gnb-side .setting-btn,
	#gnb .gnb-side a.lang-btn,
	#gnb .gnb-side a i{display:block;}
	#gnb:before{width:100%;height:100%;background:#424242;}
	#gnb .gnb-lst > li > a{height:63px;background:#424242;-webkit-transition:all .3s;transition:all .3s;}
	#gnb .gnb-lst > li + li{border-top:1px solid #5d5d5d;}
	#gnb .gnb-lst > li{position:relative;z-index:3;text-align:left;background:#5c5c5c;}
	#gnb .gnb-lst > li.home > a:before{top:50%;left:1.3rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);;width:23px;height:23px;}
	#gnb .gnb-lst > li > a > span:before{top:50%;left:1.25rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:23px;height:23px;background-position:-23px 0;}
	#gnb .gnb-lst > li.home > a{display:inline-block;vertical-align:middle;width:70px;height:70px;}
	#gnb .gnb-lst > li.home > a:after{display:none;}
	#gnb .gnb-lst > li.home.on > a:before{background-image:url(../../img//layout/gnb_m_icon.png);}	
	#gnb .gnb-lst > li.home .lang-select:after{color:#5c5c5c;font-size:1.15rem;}
	#gnb .gnb-lst > li.home .lang-select.select-box:before{left:.5rem;width:auto;height:auto;background:transparent;font-family:'xeicon';content:'\e9d1';font-size:1.15rem;color:#5c5c5c;}
	#gnb .gnb-lst > li.home .lang-select.select-box:after{position:absolute;display:block;width:auto;height:auto;background:transparent;bottom:auto;left:auto;top:50%;right:.5rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-family:'xeicon';font-size:.95rem;color:#676767;content:'\e93e';}
	
	#gnb .gnb-lst > li#M_WTB_03 > a > span:before{background-position:-46px 0;}
	#gnb .gnb-lst > li#M_WTB_02 > a > span:before{background-position:-69px 0;}
	#gnb .gnb-lst > li#M_WTB_07 > a > span:before{background-position:-92px 0;}
	#gnb .gnb-lst > li#M_WTB_04 > a > span:before{background-position:-115px 0;}
	#gnb .gnb-lst > li#M_WTB_01 > a > span:before{background-position:-138px 0;}
	#gnb .gnb-lst > li#M_WTB_08 > a > span:before{background-position:-161px 0;}
	#gnb .gnb-lst > li > a > span{width:100%;left:0;-webkit-transform:translateY(-50%);transform: translateY(-50%);font-size:.9rem;text-align:left;padding:0 0 0 3.45rem !important;}
	#gnb .gnb-side .login-toggle-btn > span:before{display:none;}
	#gnb .gnb-lst .depth2{position:relative;left:0;z-index:2;width:100%;}
	#gnb .gnb-lst > li > .depth2{left:0;width:100%;height:0;overflow:hidden;}
	#gnb .gnb-lst > li.on > .depth2{left:0;height:auto;}
	#gnb .gnb-lst > li > a:after{display:none;}
	#gnb .gnb-lst > li.on{background:#f2f2f3;}
	.gnb-wrap{width:100%;}
	#gnb .gnb-lst > li.on > a{background:#f2f2f3;}
	#gnb .gnb-lst > li.home,
	#gnb .gnb-lst > li.home.on > a{background:#5c5c5c;}
	#gnb .gnb-side .lang-select.select-box{display:none;}
	#gnb .gnb-side{margin-top:0;border-bottom:1px solid #5d5d5d;overflow:hidden;}
	#gnb .gnb-side a.setting-btn,
	#gnb .gnb-side a.lang-btn{float:left;width:33.333%;height:65px;border-right:1px solid #5d5d5d;}
	#gnb .gnb-side a.login-toggle-btn{float:left;width:33.333%;height:65px;}
	.gnb-wrap .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical{z-index:98;}
	.gnb-wrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(255,255,255,.75) !important;}
	#gnb .gnb-side .login-toggle-btn > span{display:none;}
	#gnb .gnb-lst .depth2 > li > a:after,
	#gnb .gnb-lst .depth2 > li:first-of-type > a:after{display:block;}
	#gnb .gnb-lst .depth2 > li > a:before{display:none;}
	#gnb .gnb-lst .depth2 > li > a,
	#gnb .gnb-lst .depth2 > li:first-of-type > a{padding:.875rem 1.25rem;font-size:.75rem;font-weight:500;}
	#gnb .gnb-lst .depth3{padding:0;opacity:0;visibility:hidden;height:0;-webkit-transition:opacity .3s, visibility .3s, height .3s;transition:opacity .3s, visibility .3s, height .3s;}
	#gnb .gnb-lst .depth2 > li.active .depth3{padding:.65rem 0;opacity:1;visibility:visible;height:auto;}
	#gnb .gnb-lst .depth2 > li.active > a:before{display:block;}
	#gnb .gnb-lst > li.home > a .sr-only{position:absolute;width:auto;height:auto;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);padding:0 0 0 3.45rem;margin:0;font-size:.9rem;overflow:hidden;clip:auto;font-weight:500;}
	#gnb .gnb-lst > li.home.on > a{color:#9d9d9d;}
	.gnb-lst-wrap{position:relative;}
	.gnb-lst-wrap.active .mobile-setting{display:block;}
	#gnb .gnb-side a{border-top:1px solid #5d5d5d;}
	#gnb .gnb-side a.active{background:#f2f2f3;color:#455eee;border-top:1px solid #e4e5e8;}
	.mobile-setting{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;overflow:hidden;background:#f2f2f3;}
	.mobile-setting .cont{position:relative;display:table;table-layout:fixed;width:100%;padding:0 4rem 0 1.25rem;height:70px;border-bottom:1px solid #e4e5e8;}
	.mobile-setting .cont > div{display:table-cell;vertical-align:middle;width:100%;}
	.mobile-setting .cont > div > strong{display:block;color:#455eee;font-size:.9rem;font-weight:500;}
	.mobile-setting .cont .txt{display:block;font-size:.65rem;color:#424242;font-weight:300;}
	.mobile-setting .cont .active-toggle-wrap{position:absolute;top:50%;right:1.25rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
	.mobile-setting .cont .active-toggle-wrap label{width:41px;height:20px;}
	.mobile-setting .cont + span{display:block;padding:.875rem 1.25rem;font-size:.65rem;color:#989898;font-weight:300;}
	#gnb .gnb-lst .depth2 > li > a > span:before{right:-.5rem;opacity:1;visibility:visible;}
	
	
	/* footer */
	#footer .copyright{font-size:.7rem;}
	
	/*layerPopup*/
	#layerPopupNotice .layer-cont{border-radius:3px;width:90%;padding:1rem 1rem 1.5rem;}
	#layerPopupNotice .layer-cont .notice-detail .tit{font-size:.9rem;}
	 
}


@media screen and (max-width:350px){
	/* layerPopup */
	#layerPopupLang.layer-popup-lang .layer-cont{width:calc(100% - 2.5rem);}
	
	/* heading-tit */
	.heading-tit{max-width:40%}
}